@font-face {
  font-family: "DM Sans";
  src: url("/github-repositories/LandGuru/fonts/DMSans-Medium.woff2") format("woff2"), url("/github-repositories/LandGuru/fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/github-repositories/LandGuru/fonts/Poppins-Medium.woff2") format("woff2"), url("/github-repositories/LandGuru/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("/github-repositories/LandGuru/fonts/DMSans-Regular.woff2") format("woff2"), url("/github-repositories/LandGuru/fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("/github-repositories/LandGuru/fonts/DMSans-Bold.woff2") format("woff2"), url("/github-repositories/LandGuru/fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/github-repositories/LandGuru/fonts/Poppins-Bold.woff2") format("woff2"), url("/github-repositories/LandGuru/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
  ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
  ========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

/* Grouping content
  ========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-size: 1em; /* 2 */
  font-family: monospace, monospace; /* 1 */
}

/* Text-level semantics
  ========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
  border-bottom: none; /* 1 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-size: 1em; /* 2 */
  font-family: monospace, monospace; /* 1 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
  ========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
  ========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 2 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  font-family: inherit; /* 1 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  display: table; /* 1 */
  box-sizing: border-box; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  outline-offset: -2px; /* 2 */
  -webkit-appearance: textfield; /* 1 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button; /* 1 */
}

/* Interactive
  ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
  ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #0f2137;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", "Arial", sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  padding: 0;
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

svg {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.container {
  max-width: 82.31rem;
  padding: 0 1.87rem;
  margin: 0 auto;
  width: 100%;
}

.top-block {
  background: url("/github-repositories/LandGuru/images/background/main-pattern.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #244886;
  border-radius: 0 0 18.5rem 0;
  min-height: 62.5rem;
}
@media (max-width: 1023px) {
  .top-block {
    min-height: 41.5rem;
    border-radius: 0 0 6.5rem 0;
  }
}

.header {
  padding: 1.31rem 0 1.31rem 0;
  position: relative;
  z-index: 9999;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 0.62rem;
}
.header__btn-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.62rem;
}
.header__start-btn {
  display: none;
}
@media (min-width: 48rem) {
  .header__start-btn {
    display: block;
  }
}
@media (max-width: 48rem) {
  .header__start-btn--burger {
    display: block;
  }
}
.header__burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 0.62rem;
  top: 4.75rem;
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  pointer-events: none;
  width: 100%;
  transition: opacity ease-in 0.3s, background-color ease-in 0.3s, -webkit-clip-path ease-in 0.3s;
  transition: opacity ease-in 0.3s, clip-path ease-in 0.3s, background-color ease-in 0.3s;
  transition: opacity ease-in 0.3s, clip-path ease-in 0.3s, background-color ease-in 0.3s, -webkit-clip-path ease-in 0.3s;
  border: 1px solid #0f2137;
  border-radius: 1.93rem;
  padding: 0.62rem;
}
.header__burger-menu--opened {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 1;
  pointer-events: all;
  background-color: #1f3e76;
}

.main-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.68rem;
}
.main-link__text {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #ffffff;
  transition: color ease-in 0.3s;
}
.main-link__icon {
  color: #ffffff;
  transition: color ease-in 0.3s, transform ease-in 0.3s, scale ease-in 0.3s;
}
.main-link:hover, .main-link:focus-visible {
  outline: unset;
}
.main-link:hover .main-link__text, .main-link:focus-visible .main-link__text {
  color: #f6c416;
}
.main-link:hover .main-link__icon, .main-link:focus-visible .main-link__icon {
  color: #f6c416;
}

.main-nav__header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 62.5rem) {
  .main-nav__list {
    gap: 1rem;
  }
}
.main-nav__item {
  position: relative;
}
.main-nav__item:hover .main-nav__icon, .main-nav__item:focus-visible .main-nav__icon {
  color: #f6c416;
  transform: translateY(0.1rem);
}
.main-nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.22rem;
}
.main-nav__link:hover .main-nav__link-text, .main-nav__link:focus-visible .main-nav__link-text {
  color: #f6c416;
}
.main-nav__links-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.62rem;
  padding: 0.31rem;
  border-radius: 0.62rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 200%;
  position: absolute;
  top: 2.43rem;
  left: -3.81rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in 0.3s, background-color ease-in 0.3s, box-shadow ease-in 0.3s;
}
.main-nav__links-menu::before {
  content: "";
  position: absolute;
  top: -1.12rem;
  left: 0;
  width: 100%;
  height: 1.25rem;
}
.main-nav__links-navigation {
  position: relative;
  cursor: pointer;
}
.main-nav__links-navigation .main-nav__link-text {
  font-weight: 200;
  line-height: 1.5rem;
}
.main-nav__links-navigation:hover .main-nav__icon, .main-nav__links-navigation:focus-visible .main-nav__icon {
  color: #f6c416;
  transform: translateY(0.1rem);
}
.main-nav__links-navigation:hover .main-nav__links-menu, .main-nav__links-navigation:focus-visible .main-nav__links-menu {
  opacity: 1;
  pointer-events: all;
  background-color: #1f3e76;
}
.main-nav__nav-text, .main-nav__link-text {
  font-weight: 600;
  line-height: 2.06rem;
  color: #ffffff;
  text-align: center;
}
.main-nav__link-text {
  transition: color ease-in 0.3s;
}
.main-nav__main-text-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.62rem;
}
.main-nav__icon {
  color: #ffffff;
  transition: color ease-in 0.3s, transform ease-in 0.3s;
}
@media (max-width: 48rem) {
  .main-nav {
    display: none;
  }
}
@media (max-width: 48rem) {
  .main-nav--burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-nav--burger .main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.62rem;
  }
}
.main-nav--burger .main-nav__link-text {
  line-height: 1.5rem;
}
.main-nav--burger .main-nav__links-menu {
  position: static;
  opacity: 1;
  width: 100%;
  padding: 0.5rem 1rem;
}
.main-nav--burger .main-nav__links-menu::before {
  position: unset;
  display: none;
}

.burger-btn {
  background-color: transparent;
  width: 2.5rem;
  height: 2rem;
  border: unset;
  padding: unset;
  display: none;
}
.burger-btn__top-line, .burger-btn__main-line, .burger-btn__bottom-line {
  width: 100%;
  height: 0.12rem;
  background-color: #ffffff;
  border-radius: 50%;
  transition: opacity ease-in 0.3s, transform ease-in 0.3s;
}
@media (max-width: 48rem) {
  .burger-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.62rem;
  }
}

.btn {
  background-color: transparent;
  border: 1.5px solid #ffffff;
  border-radius: 3.12rem;
  padding: 0.81rem 1.93rem 0.81rem 1.93rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
  color: #ffffff;
  transition: background-color ease-in 0.3s, color ease-in 0.3s, box-shadow ease-in 0.3s;
}
.btn:hover, .btn:focus-visible {
  outline: unset;
  background-color: #ffffff;
  color: #0f2137;
  box-shadow: 0 4px 10px #ffffff;
}
.btn--watch:hover, .btn--watch:focus-visible {
  color: #ffffff;
  box-shadow: 0 4px 10px #0f2137;
}

.transform .burger-btn__top-line {
  transform: translateY(0.8rem) rotate(-45deg);
}
.transform .burger-btn__bottom-line {
  transform: translateY(-0.7rem) rotate(45deg);
}
.transform .burger-btn__main-line {
  opacity: 0;
}

.hero {
  padding: 5.31rem 0 5.87rem;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/github-repositories/LandGuru/images/hero/mobile-hero.png");
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  transition: opacity ease-in 0.3s;
}
@media (max-width: 93.75rem) {
  .hero::before {
    opacity: 0.4;
    background-size: contain;
    background-position: right;
  }
}
@media (max-width: 51.87rem) {
  .hero::before {
    background-size: cover;
    background-position: inherit;
  }
}
@media (max-width: 48rem) {
  .hero::before {
    opacity: 0.2;
    background-position: right;
    background-size: contain;
  }
}
@media (max-width: 35rem) {
  .hero::before {
    background: unset;
  }
}
@media (max-width: 48rem) {
  .hero {
    padding: 2rem 0 2rem;
  }
}
.hero__main {
  position: relative;
}
.hero__left-side {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.8rem;
  position: relative;
  z-index: 10;
}
.hero__heading {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.81rem;
}
@media (max-width: 48rem) {
  .hero__heading {
    gap: 1rem;
  }
}
@media (max-width: 48rem) {
  .hero .hero__left-side,
  .hero .hero__heading,
  .hero .hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.hero__title {
  font-weight: 700;
  font-size: clamp(3.43rem, 7vw, 5.31rem);
  line-height: 6.25rem;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 41.12rem;
}
@media (max-width: 48rem) {
  .hero__title {
    line-height: 3.75rem;
  }
}
@media (max-width: 25rem) {
  .hero__title {
    font-size: 2.06rem;
    line-height: 2.37rem;
  }
}
.hero__description {
  font-size: clamp(0.85rem, 7vw, 1.12rem);
  line-height: 2.62rem;
  max-width: 31.68rem;
  color: #ffffff;
}
@media (max-width: 48rem) {
  .hero__description {
    line-height: 2.25rem;
  }
}
@media (max-width: 25rem) {
  .hero__description {
    line-height: 2.06rem;
  }
}
@media (max-width: 48rem) {
  .hero .hero__description,
  .hero .hero__title {
    text-align: center;
  }
}
.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2.31rem;
}
@media (max-width: 48rem) {
  .hero__inner {
    gap: 1rem;
  }
}
.hero__start-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
@media (max-width: 25rem) {
  .hero__start-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.hero__watch-btn {
  border: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.31rem;
  padding: 0.81rem 0.62rem 0.81rem 0.62rem;
}
.hero__watch-btn:hover, .hero__watch-btn:focus-visible {
  box-shadow: 0 4px 10px #0f2137;
  background-color: transparent;
}
.hero__watch-btn:hover .hero__watch-btn-text, .hero__watch-btn:focus-visible .hero__watch-btn-text {
  transform: translateX(0.32rem);
}
.hero__watch-btn:hover .hero__watch-btn-icon, .hero__watch-btn:focus-visible .hero__watch-btn-icon {
  transform: translateY(-0.1rem);
}
.hero__watch-btn-text, .hero__watch-btn-icon {
  transition: transform ease-in 0.3s;
}
.hero__sponsored-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.31rem;
}
@media (max-width: 36.25rem) {
  .hero__sponsored-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
.hero__sponsored-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.62rem;
  color: #ffffff;
  opacity: 0.7;
}
.hero__sponsored-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.68rem;
}
@media (max-width: 25rem) {
  .hero__sponsored-list {
    display: grid;
    justify-items: center;
    gap: 1rem;
  }
}
.hero__sponsored-item {
  cursor: pointer;
}
.hero__sponsored-item:hover, .hero__sponsored-item:focus-visible {
  outline: unset;
}
.hero__sponsored-item:hover .hero__sponsored-img, .hero__sponsored-item:focus-visible .hero__sponsored-img {
  transform: translateY(-0.3rem);
}
.hero__link:hover, .hero__link:focus-visible {
  outline: unset;
}
.hero__sponsored-img {
  transition: transform ease-in 0.3s;
}

.hero-picture {
  position: absolute;
  display: block;
  width: 18.87rem;
  height: 21.7rem;
  top: -3.2vh;
  right: -2.5vw;
  z-index: 2;
  background: url("/github-repositories/LandGuru/svg/pattern.svg");
  background-position-x: right;
  background-position-y: top;
}
@media (max-width: 93.75rem) {
  .hero-picture {
    right: 1.5rem;
  }
}
@media (max-width: 81.25rem) {
  .hero-picture {
    opacity: 0.7;
  }
}
@media (max-width: 51.87rem) {
  .hero-picture {
    display: none;
  }
}

.quality {
  padding: 4.06rem 0 6.25rem;
}
@media (max-width: 48rem) {
  .quality {
    padding: 2rem 0 2rem;
  }
}
.quality__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.87rem;
}
@media (max-width: 48rem) {
  .quality__main {
    gap: 2rem;
  }
}
.quality__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: min(8vw, 6.25rem);
}
@media (max-width: 48rem) {
  .features-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .features-list .features-list__item:nth-last-child(1) {
    grid-column: span 2;
  }
}
@media (max-width: 33.75rem) {
  .features-list {
    grid-template-columns: 1fr;
  }
  .features-list .features-list__item:nth-last-child(1) {
    grid-column: unset;
  }
}
.features-list__item, .features-list__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.28rem;
}
.features-list__icon-wrapper {
  width: 6.87rem;
  height: 6.87rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.87rem;
}
.features-list__item--green .features-list__icon-wrapper {
  background-color: #e4ffee;
}
.features-list__item--purple .features-list__icon-wrapper {
  background-color: rgba(37, 99, 255, 0.2);
}
.features-list__item--red .features-list__icon-wrapper {
  background-color: rgba(255, 67, 97, 0.2);
}
.features-list__item--light-blue .features-list__icon-wrapper {
  background-color: #f4f4ff;
}
.features-list__item--yellow .features-list__icon-wrapper {
  background-color: #fff6d3;
}
.features-list__item--orange .features-list__icon-wrapper {
  background-color: rgba(233, 116, 37, 0.2);
}
.features-list__feature-name {
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 1.87rem;
  color: #0f2137;
  text-align: center;
}
.features-list__text {
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 1.75rem;
  text-align: center;
  color: #343d48;
  max-width: 16.56rem;
}
.features-list--column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.62rem;
}
.features-list--column .features-list__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1.56rem 2.37rem 1.56rem 2rem;
  width: 100%;
}
@media (max-width: 31.25rem) {
  .features-list--column .features-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.features-list--column .features-list__icon-wrapper {
  width: 3.56rem;
  height: 3.56rem;
  border-radius: 40%;
}
.features-list--column .features-list__item--case .features-list__icon-wrapper {
  background-color: rgba(255, 67, 97, 0.2);
  padding: 1.18rem 1.06rem 1.18rem 1.06rem;
}
.features-list--column .features-list__item--crown {
  background-color: #ffffff;
  box-shadow: 0px 8px 24px 0px rgba(69, 88, 157, 0.07);
  border-radius: 1.25rem;
}
.features-list--column .features-list__item--crown .features-list__icon-wrapper {
  background-color: rgba(255, 67, 97, 0.2);
  padding: 1.18rem 0.87rem 1.18rem 0.87rem;
}
.features-list--column .features-list__heading {
  align-items: flex-start;
  gap: 1.21rem;
}
@media (max-width: 31.25rem) {
  .features-list--column .features-list__heading {
    align-items: center;
  }
}
.features-list--column .features-list__text {
  max-width: 22.18rem;
  text-align: left;
}
@media (max-width: 31.25rem) {
  .features-list--column .features-list__text {
    text-align: center;
  }
}
.features-list--second-section {
  gap: 5rem 4.12rem;
}
@media (max-width: 64rem) {
  .features-list--second-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 31.25rem) {
  .features-list--second-section {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.features-list--second-section .features-list__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1.56rem;
}
@media (max-width: 64rem) {
  .features-list--second-section .features-list__item {
    flex-direction: column;
    align-items: center;
  }
}
.features-list--second-section .features-list__item:nth-last-child(1) {
  grid-column: unset;
}
.features-list--second-section .features-list__icon-wrapper {
  width: 5.12rem;
  height: 5.12rem;
  padding: 1.31rem 1.5rem;
}
.features-list--second-section .features-list__heading {
  align-items: flex-start;
}
@media (max-width: 64rem) {
  .features-list--second-section .features-list__heading {
    align-items: center;
  }
}
.features-list--second-section .features-list__feature-name {
  line-height: 100%;
}
.features-list--second-section .features-list__text {
  text-align: left;
}
@media (max-width: 64rem) {
  .features-list--second-section .features-list__text {
    text-align: center;
  }
}

.section-title {
  font-weight: 700;
  font-size: clamp(1.37rem, 7vw, 2.25rem);
  line-height: 3.43rem;
  color: #0f2137;
  letter-spacing: -0.015em;
  text-align: center;
}
@media (max-width: 1023px) {
  .section-title {
    line-height: 2.06rem;
  }
}
.section-title--core {
  font-size: clamp(2.06rem, 7vw, 3.43rem);
  line-height: 3.43rem;
  text-align: left;
  max-width: 33.87rem;
}
@media (max-width: 52.25rem) {
  .section-title--core {
    text-align: center;
  }
}

.section-description {
  font-weight: 700;
  font-size: 0.85rem;
  line-height: 2.5rem;
  letter-spacing: 0.21em;
  text-align: center;
  color: #244886;
  text-transform: uppercase;
}

.core {
  padding: 6.18rem 0 6.18rem;
  background: url("/github-repositories/LandGuru/images/background/core-pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (max-width: 48rem) {
  .core {
    padding: 2rem 0 2rem;
  }
}
.core__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: min(7vw, 6.12rem);
}
@media (max-width: 52.25rem) {
  .core__main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
.core__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.75rem;
}
@media (max-width: 52.25rem) {
  .core__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.core__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.37rem;
}
@media (max-width: 31.25rem) {
  .core__inner {
    gap: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */