// colors
$white: #ffffff;
$coral: #0f2137;
$blue: #244886;
$grey: #dadada;
$deepGrey: #343d48;
$deepBlue: #1f3e76;
$yellow: #f6c416;
$green: #25cb9e;

// cards-bg
$bg-green: #e4ffee;
$bg-blue: #2563ff;
$bg-pink: #ff4361;
$bg-lightPurple: #f4f4ff;
$bg-yellow: #fff6d3;
$bg-brown: #e97425;
$gradient-orange: linear-gradient(41deg, #ff416c -4.02%, #ff4b2b 104.02%);
$gradient-red: linear-gradient(41deg, #ff5858 -4.02%, #f857a6 104.02%);

//typography

$dm: 'DM Sans', 'Arial', sans-serif;

// viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// transition

$transition-300: ease-in 0.3s;
