// colors
$white: #ffffff;
$coral: #0f2137;
$blue: #244886;
$grey: #dadada;
$deepGrey: #343d48;
$deepBlue: #1f3e76;
$lightBlue: #25a0ff;
$yellow: #f6c416;
$green: #25cb9e;
$blue-shadow: rgba(69, 88, 157, 0.07);

$card-shadow: rgba(38, 78, 118, 0.1);

// cards-bg
$bg-green: #e4ffee;
$bg-blue-02: rgba(37, 99, 255, 0.2);
$bg-pink-02: rgba(255, 67, 97, 0.2);
$bg-light-blue: #f4f4ff;
$bg-yellow: #fff6d3;
$bg-brown: rgba(233, 116, 37, 0.2);

//typography

$dm: 'DM Sans', 'Arial', sans-serif;
$poppins: 'Poppins', 'Arial', sans-serif;

$rem-085: 0.85rem; // 14px
$rem-093: 0.93rem; // 15px
$rem-1: 1rem; // 16px
$rem-112: 1.12rem; // 18px
$rem-125: 1.25rem; // 20p
$rem-137: 1.37rem; // 22px
$rem-15: 1.5rem; // 24px
$rem-162: 1.62rem; // 26px
$rem-175: 1.75rem; // 28px
$rem-187: 1.87rem; //30px
$rem-206: 2.06rem; // 33px
$rem-225: 2.25rem; // 36px
$rem-237: 2.37rem; // 38p
$rem-25: 2.5rem; // 40px
$rem-262: 2.62rem; // 42p
$rem-3: 3rem; // 48p
$rem-343: 3.43rem; // 55p
$rem-375: 3.75rem; // 60px
$rem-531: 5.31rem; // 85px
$rem-625: 6.25rem; // 100px

// viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// transition

$transition-300: ease-in 0.3s;
