.btn {
	background-color: transparent;
	outline: 1.5px solid $white;
	border: unset;
	border-radius: 3.12rem;
	padding: 0.81rem 1.93rem 0.81rem 1.93rem;

	font-weight: 500;
	font-size: $rem-1;
	line-height: $rem-15;
	letter-spacing: 0.01em;
	color: $white;

	transition: background-color $transition-300, color $transition-300,
		box-shadow $transition-300;

	&:hover,
	&:focus-visible {
		background-color: $white;
		color: $coral;
		box-shadow: 0 0.25rem 0.62rem $white;
	}

	&--watch {
		&:hover,
		&:focus-visible {
			color: $white;
			box-shadow: 0 0.25rem 0.62rem $coral;
		}
	}

	&--blue {
		background-color: $blue;

		&:hover,
		&:focus-visible {
			outline: 1.5px solid $blue;
			color: $coral;
			box-shadow: 0 0.25rem 0.62rem $coral;
		}
	}
}
