.features-list {
	$root: &;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
	gap: min(8vw, 6.25rem);

	@media (max-width: 48rem) {
		grid-template-columns: repeat(2, 1fr);

		#{$root}__item:nth-last-child(1) {
			grid-column: span 2;
		}
	}

	@media (max-width: 33.75rem) {
		grid-template-columns: 1fr;

		#{$root}__item:nth-last-child(1) {
			grid-column: unset;
		}
	}

	&__item,
	&__heading {
		@include flexCenter;
		gap: 1.28rem;
	}

	&__icon-wrapper {
		width: 6.87rem;
		height: 6.87rem;
		@include flexCenter;
		border-radius: 1.87rem;
	}

	&__item--green {
		#{$root}__icon-wrapper {
			background-color: $bg-green;
		}
	}

	&__item--purple {
		#{$root}__icon-wrapper {
			background-color: $bg-blue-02;
		}
	}

	&__item--red {
		#{$root}__icon-wrapper {
			background-color: $bg-pink-02;
		}
	}

	&__feature-name {
		font-weight: 700;
		font-size: $rem-112;
		line-height: $rem-187;
		color: $coral;
		text-align: center;
	}

	&__text {
		font-weight: 400;
		font-size: $rem-093;
		line-height: $rem-175;
		text-align: center;
		color: $deepGrey;

		max-width: 16.56rem;
	}

	&--column {
		@include flexCenter(column, flex-start);
		gap: 0.62rem;

		#{$root}__item {
			@include flexCenter(row, flex-start);
			padding: 1.56rem 2.37rem 1.56rem 2rem;
			width: 100%;

			@media (max-width: 31.25rem) {
				@include flexCenter;
			}
		}

		#{$root}__icon-wrapper {
			width: 3.56rem;
			height: 3.56rem;
			border-radius: 40%;
		}

		#{$root}__item--case {
			#{$root}__icon-wrapper {
				background-color: $bg-pink-02;
				padding: 1.18rem 1.06rem 1.18rem 1.06rem;
			}
		}

		#{$root}__item--crown {
			#{$root}__icon-wrapper {
				background-color: $bg-pink-02;
				padding: 1.18rem 0.87rem 1.18rem 0.87rem;
			}

			background-color: $white;
			box-shadow: 0px 8px 24px 0px $blue-shadow;
			border-radius: 1.25rem;
		}

		#{$root}__heading {
			align-items: flex-start;
			gap: 1.21rem;

			@media (max-width: 31.25rem) {
				align-items: center;
			}
		}

		#{$root}__text {
			max-width: 22.18rem;
			text-align: left;

			@media (max-width: 31.25rem) {
				text-align: center;
			}
		}
	}
}
