.hero {
	padding: 5.31rem 0 5.87rem;
	$root: &;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url('/github-repositories/LandGuru/images/hero/mobile-hero.png');
		background-position-x: right;
		background-position-y: bottom;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 5;
		transition: opacity $transition-300;

		@media (max-width: 93.75rem) {
			opacity: 0.4;
			background-size: contain;
			background-position: right;
		}

		@media (max-width: 51.87rem) {
			background-size: cover;
			background-position: inherit;
		}

		@media (max-width: 48rem) {
			opacity: 0.2;
			background-position: right;
			background-size: contain;
		}

		@media (max-width: 35rem) {
			background: unset;
		}
	}

	@media (max-width: 48rem) {
		padding: 2rem 0 2rem;
	}

	&__main {
		position: relative;
	}

	&__left-side {
		@include flexCenter(column, start);
		gap: 1.8rem;
		position: relative;
		z-index: 10;
	}

	&__heading {
		@include flexCenter(column, start);
		gap: 1.81rem;

		@media (max-width: 48rem) {
			gap: 1rem;
		}
	}

	@media (max-width: 48rem) {
		#{$root}__left-side,
		#{$root}__heading,
		#{$root}__inner {
			@include flexCenter;
		}
	}

	&__title {
		font-weight: 700;
		font-size: clamp($rem-343, 7vw, $rem-531);
		line-height: $rem-625;
		letter-spacing: -0.02em;
		color: $white;
		max-width: 41.12rem;

		@media (max-width: 48rem) {
			line-height: $rem-375;
		}

		@media (max-width: 25rem) {
			font-size: $rem-206;
			line-height: $rem-237;
		}
	}

	&__description {
		font-size: clamp($rem-085, 7vw, $rem-112);
		line-height: $rem-262;
		max-width: 31.68rem;
		color: $white;

		@media (max-width: 48rem) {
			line-height: $rem-225;
		}

		@media (max-width: 25rem) {
			// font-size: $rem-15;
			line-height: $rem-206;
		}
	}

	@media (max-width: 48rem) {
		#{$root}__description,
		#{$root}__title {
			text-align: center;
		}
	}

	&__inner {
		@include flexCenter(column, start);
		gap: 2.31rem;

		@media (max-width: 48rem) {
			gap: 1rem;
		}
	}

	&__start-block {
		@include flexCenter(row);
		gap: 0.8rem;

		@media (max-width: 25rem) {
			@include flexCenter;
		}
	}

	&__watch-btn {
		border: unset;
		@include flexCenter(row);
		gap: 0.31rem;
		padding: 0.81rem 0.62rem 0.81rem 0.62rem;

		&:hover,
		&:focus-visible {
			box-shadow: 0 4px 10px $coral;
			background-color: transparent;

			#{$root}__watch-btn-text {
				transform: translateX(0.32rem);
			}

			#{$root}__watch-btn-icon {
				transform: translateY(-0.1rem);
			}
		}
	}

	&__watch-btn-text,
	&__watch-btn-icon {
		transition: transform $transition-300;
	}

	&__sponsored-block {
		@include flexCenter(row);
		gap: 1.31rem;

		@media (max-width: 36.25rem) {
			@include flexCenter;
			gap: 1rem;
		}
	}

	&__sponsored-text {
		font-weight: 400;
		font-size: $rem-1;
		line-height: $rem-262;
		color: $white;
		opacity: 0.7;
	}

	&__sponsored-list {
		@include flexCenter(row);
		gap: 1.68rem;

		@media (max-width: 25rem) {
			display: grid;
			justify-items: center;
			gap: 1rem;
		}
	}

	&__sponsored-item {
		cursor: pointer;

		&:hover,
		&:focus-visible {
			outline: unset;

			#{$root}__sponsored-img {
				transform: translateY(-0.3rem);
			}
		}
	}

	&__link {
		&:hover,
		&:focus-visible {
			outline: unset;
		}
	}

	&__sponsored-img {
		transition: transform $transition-300;
	}
}
