.main-nav {
	$root: &;

	&__header-menu {
		@include flexCenter(row);
		gap: 1rem;
	}

	&__list {
		@include flexCenter(row);
		gap: 2rem;

		@media (max-width: 62.5rem) {
			gap: 1rem;
		}
	}

	&__item {
		position: relative;

		&:hover,
		&:focus-visible {
			#{$root}__icon {
				color: $yellow;
				transform: translateY(0.1rem);
			}
		}
	}

	&__link {
		@include flexCenter(row);
		gap: 0.22rem;

		&:hover,
		&:focus-visible {
			#{$root}__link-text {
				color: $yellow;
			}
		}
	}

	&__links-menu {
		@include flexCenter;
		gap: 0.62rem;

		position: absolute;
		top: 2.43rem;
		left: 0;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		transition: opacity $transition-300;

		&::before {
			content: '';
			position: absolute;
			top: -1.12rem;
			left: 0;
			width: 100%;
			height: 1.25rem;
		}
	}

	&__links-navigation {
		position: relative;
		cursor: pointer;

		#{$root}__link-text {
			font-weight: 200;
		}

		&:hover,
		&:focus-visible {
			#{$root}__icon {
				color: $yellow;
				transform: translateY(0.1rem);
			}

			#{$root}__links-menu {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	&__nav-text,
	&__link-text {
		font-weight: 600;
		line-height: $rem-206;
		color: $white;
		text-align: center;
	}

	&__link-text {
		transition: color $transition-300;
	}

	&__main-text-block {
		@include flexCenter(row);
		gap: 0.62rem;
	}

	&__icon {
		color: $white;
		transition: color $transition-300, transform $transition-300;
	}

	@media (max-width: 48rem) {
		display: none;
	}

	&--burger {
		@media (max-width: 48rem) {
			@include flexCenter;

			#{$root}__list {
				@include flexCenter;
			}
		}

		#{$root}__links-menu {
			position: static;
			opacity: 1;
		}
	}
}
