.top-block {
	background: url('/github-repositories/LandGuru/images/background/main-pattern.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $blue;
	border-radius: 0 0 12.5rem 0;
	min-height: 62.5rem;
}
